target/
.target/
bin/
logs/
.cache
.project
.setttings
.classpath
.settings/org.scala-ide.sdt.core.prefs
playJSON.sublime-project
playJSON.sublime-workspace
activator
activator-launch-1.2.3.jar
activator.bat
myEconomyJSON.sublime-project
myEconomyJSON.sublime-workspace
.cache-main
.cache-tests
